#matrix {
  margin-top: 2rem;
  vertical-align: middle;
  text-align: center;
}
.matrix-square {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid black;

  width: 50px;
  height: 50px;
}
.matrix-square__value {
  position: absolute;

  z-index: 2;
}
.matrix-square__k {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
}
.matrix__row {
}
